.userPage {
  margin-left: 260px;
  padding: 20px;
}

@media (max-width: 768px) {
  .userPage {
    margin-left: 210px;
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .userPage {
    margin-left: 0;
    padding: 10px;
  }
}
